@use 'src/styles/variables';

.header {
  padding: variables.$halfGutter variables.$gutter;
  box-shadow: 0 20px 20px -30px rgba(0, 0, 0, 0.4);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    width: 50px;
  }
}
